
<div class="container">
    <% @questions.each do |question| %>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="question-index-single">
            <h1 class="question-title">
            <%= link_to question.name, question_path(question) %>
            </h1>
            <%= image_tag question.image.url, class: "question-image" if question.image.url %>
            <%= render "likes/like", question: question %>
            <%= link_to new_question_comment_path(question_id: question.id) do %>
              <%= image_tag "/assets/comment.png", class: "question-index-icon" %>
            <% end %>
            <p class="question-text">
              <%= question.description %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class='paginate'><%= paginate(@questions) %></div>