<div class="question-index-wrapper">

  <div class = "question-list ls"> 
      <div class = "text-center">
          <h1 class = "d-flex align-items-center">Shitsumon list</h1>
          <%=link_to 'new question', new_question_path, class:'btn btn-success btn-lg' %>
      </div>
  </div>


  <div class="container">
    <% @questions.each do |question| %>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="question-index-single">
            <h1 class="question-title">
            <%= link_to question.name,question_path(question) %>
            </h1>
            <%= image_tag question.image.url, class: "question-image" %>
            <% if !question.like_users.include?(current_user) %>
              <%= link_to likes_path(question_id: question.id), method: :post do %>
                <%= image_tag "/assets/default_like.png", class: "question-index-icon" %>             
              <% end %>
            <% else %>
              <%= link_to likes_path(question_id: question.id), method: :delete do %>
                <%= image_tag "/assets/liked.png", class: "question-index-icon" %>
              <% end %>
            <% end %>
            <%= question.likes.count %>
            <%= link_to new_comment_path(question_id: question.id) do %>
              <%= image_tag "/assets/comment.png", class: "question-index-icon" %>
            <% end %>
            <p class="question-text">
              <%= question.description %>
            </p>
            <% question.comments.each do |comment| %>
              <p class="question-text">
                <%= comment.content %>
              </p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class='paginate'><%= paginate(@questions) %></div>

</div>