
<div class="question-wrapper py-4">
 <div class="container">
  <div class="row">
    <div class="col-md-offset-4 col-md-4 signup-container">
      <h1 class="text-center text-white">New Question</h1>
      <%= form_with model: @question, local: true do |form| %>
        <div class="form-group">
          <%= form.label :name, 'Title', class: 'form-control' %>
          <%= form.text_field :name, placeholder: "what is about?", size: "50" %>
        </div>
        <div class="form-group">
          <%= form.label :description, 'Content', class: 'form-control' %>
          <%= form.text_area :description,  placeholder: "Please your comments in 500 words", size: "50x10"%>
        </div>
        <div class="form-group, text-white">
        <%= form.label :image %>
        <%= form.file_field :image%>
        </div>
        <%= form.submit 'Submit', class:'btn-block btn-success btn-lg' %>
        
      <% end %>
    </div> 
   </div>
 </div>
</div>
