
<div class="question-form-wrapper">
 <div class="container">
  <div class="row">
    <h1 class = "text-center text-white"> Let's ask about what you are interested in about Japan.</h1>
    <div class="col-md-offset-4 col-md-4 question-form-container">
      <h2 class="text-center">New Question</h2>
      <%= form_with model: @question, local: true do |form| %>
        <div class="form-group">
          <%= form.label :name, 'Title', class: 'form-control' %>
          <%= form.text_field :name, placeholder: "what is about?", class: 'form-control'%>
        </div>
        <div class="form-group">
          <%= form.label :description, 'Content', class: 'form-control' %>
          <%= form.text_area :description,  placeholder: "Please your comments in 200 words", class: 'form-control'%>
        </div>
        <div class="form-group">
        <%= form.label :image %>
        <%= form.file_field :image%>
        </div>
        <%= form.submit 'Submit', class:'btn-block btn-success btn-lg' %>
      <% end %>
    </div> 
   </div>
 </div>
</div>
