<div class="question-show-wrapper ">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="question-show-single">
          <h1 class="question-title">
          <%=  @question.name %>
          </h1>
          <h3> Questioned by  <%= link_to @user.name, user_path %> </h3>
          <% if @question.image? %>
            <%= image_tag @question.image.url, class: "question-image" %>
          <% else %>
            <%= image_tag 'nattou.jpg', class: "question-image" %>
          <% end %>
          <p class="question-text">
            <%= @question.description %>
          </p>
          <% if logged_in? %>
            <%= link_to new_question_comment_path(question_id: @question.id) do %>
              <i class="fas fa-comment fa-fw fa-lg fa-4x faa-horizontal animated"></i>
            <% end %>
          <% end %>

          <% if logged_in? %>
            <div class="icon-links text-right">
              <%= link_to edit_question_path(@question.id), class: "edit-icon mr-2 btn btn-success" do %>
                <i class="fas fa-edit fa-2x"></i>
              <% end %>
              <%= link_to question_path(@question.id), method: :delete, class: "delete-icon btn btn-danger", data: { confirm: 'really delete？' } do %>
                <i class="fas fa-trash fa-2x"></i>
              <% end %>
            </div>
          <% end %>
          
          <h3 >Comments list</h3>
          <div class = "comment-list"> 
            <% @comments.each do |c| %>
              <div class = "comment-single"> 
                <%= link_to c.user.name, user_path %>
                <br />
                <p>
                <%= c.content %>
                </p>
              </div>
              <br />
            <% end %>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
