<div class="question-show-wrapper ">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="question-show-single">
          <h1 class="question-title">
          <%=  @question.name %>
          </h1>
          <h3> Questioned by  <%= link_to @user.name, user_path %> </h3>
          <%= image_tag @question.image.url, class: "question-image" %>
          <p class="question-text">
            <%= @question.description %>
          </p>
          
          <% if current_user?(@user) %>
            <%= link_to 'Update',edit_question_path, class: 'btn btn-success btn-lg ' %>
            <%= link_to 'Delete',@question, method: :delete,  class: 'btn btn-danger btn-lg ' %>
          <% end %>
          <h3 >Comments list</h3>
          <div class = "comment-list"> 
            <% @comments.each do |c| %>
              <div>
                <% if c.user.present? %>
                  <a href="<%= user_path(c.user_id) %>">
                  <%= image_tag c.user.image.to_s,class:"rounded-circle icon_image mr-3 mb-3"%></a>
                <% end %>
                <%= c.user.name unless c.user.blank? %>
                <br />
                <%= c.content %>
              </div>
              <br />
            <% end %>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
