<div class="new-comment-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1 class="text-center ">New Comment!</h1>
          <%= form_with(model: [@question, @comment], local: true) do |f| %>
            <h3>
            <%= f.text_area :content, placeholder: "Please your comments in 400 words", size: "40x10" %>
            <%= f.hidden_field :user_id, value: @comment.user_id %>
            <%= f.hidden_field :question_id, value: @comment.question_id %>
            </h3>
            <%= f.submit "Comment", class: "btn btn-primary btn-lg" %>
          <% end %>
      </div>
    </div>
  </div>
</div>