
<% if current_user != question.user && logged_in? %>
  <div class="stock">
    <% if question.stocked?(current_user) %> 
      <%= form_with model: question.stocks.find_by(user_id: current_user.id), method: :delete do |f| %>
        <%= button_tag(class: "btn btn-dark") do %>
          <i class="fas fa-folder-minus"></i>
        <% end %>
      <% end %>
    <% else %>
      <%= form_with model: question.stocks.build do |f| %>
        <div><%= hidden_field_tag :question_id, question.id %></div>
        <%= button_tag(class: "btn btn-outline-dark") do %>
          <i class="fas fa-folder-plus"></i>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>