<div class="stock">
  <% if question.stocked?(current_user) %> 
    <%= form_with model: question.stocks.find_by(user_id: current_user.id), method: :delete do |f| %>
      <%= button_tag(class: "btn btn-warning bookmark-on") do %>
        <i class="fa fa-star fa-2x"></i> 
      <% end %>
    <% end %>
  <% else %>
    <%= form_with model: question.stocks.build do |f| %>
      <div><%= hidden_field_tag :question_id, question.id %></div>
      <%= button_tag(class: "btn btn-warning bookmark-off") do %>
        <i class="fa fa-star fa-2x"></i> 
      <% end %>
    <% end %>
  <% end %>
</div>
