<div class="show-wrapper">
  <div class="container">
    <div class="left-contents">
      <div class="card-contents">
        <h2 class="text-title">Your image</h2>
        <div class="col-sm-6">
          <div class="profile_image">
            <img src="https://res.cloudinary.com/hbvvwh0vr/image/upload/v1570983635/profile_zhxwvs.png">
            <%= form_with model: @user, local: true do |form| %>
              <div class="form-group">
              <%= form.file_field :image %>
              <%= form.submit 'Upload', class:'btn-block btn-primary btn-lg' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="right-contents">
      <div class="card-contents　text-center">
        <h2 class="text-title">Update your profile</h2>
        <div class="col-sm-6 user_container">
        <%= form_with model: @user, url: users_path,local: true do |form| %>
          <div class="form-group">
            <p> your name </p>
            <%= form.text_field :name %>
          </div>
          
          
          <%= form.submit 'Update', class:'btn-block btn-success btn-lg' %>
          
        <% end %>
      </div>
    </div>
  </div>
</div>