<div class="user-wrapper">
  <div class="user-container text-center">
    <div class=" my-profile">
      <h1 class="user-name text-center">
        <%= @user.name %>/<%= (@user.nationality) %>
      </h1>
      <% if @user.image? %>
        <%= image_tag @user.image.url, class: 'profile-image',size: :'400x400' %>
      <% else %>
        <%= image_tag '/assets/default_user.jpg', class: 'profile-image',size: :'400x400' %>
      <% end %>
      <div class= "user-edit-form">
        <h2>Update your info</h2>
        <%= form_with(model: @user, local: true) do |form| %>
          <div class="form-group">
            <%= form.file_field :image %>
          </div>
          <div class="form-group">
            <%= form.label :name, 'Name', class: 'form-control' %>
            <%= form.text_field :name, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= form.label :email, 'E-mail', class: 'form-control' %>
            <%= form.text_field :email, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= form.label :nationality, 'Country', class: 'form-control' %>
            <%= form.text_field :nationality, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= form.label :password, 'Password', class: 'form-control' %>
            <%= form.password_field :password, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= form.label :password_confirmation, 'Password(confirmation)', class: 'form-control' %>
            <%= form.password_field :password_confirmation, class: "form-control" %>
          </div>
          <div class = "sns-link">
            <h2> SNS URL </h2>
            <h4>(Optional)</h4>
            <div class="form-group">
              <%= form.label :twitter, 'Twitter URL', class: 'form-control' %>
              <%= form.text_field :twitter, placeholder: "Optional", class: "form-control" %>
            </div>
            <div class="form-group">
              <%= form.label :facebook, 'Facebook URL', class: 'form-control' %>
              <%= form.text_field :facebook, placeholder: "Optional", class: "form-control" %>
            </div>
            <div class="form-group">
              <%= form.label :instagram, 'Instagram URL', class: 'form-control' %>
              <%= form.text_field :instagram, placeholder: "Optional", class: "form-control" %>
            </div>
            <%= form.submit 'Update', class:'btn-block btn-primary btn-lg' %>
          </div>
        <% end %>
        <div class= "user-delete-form">
          <h2> Check</h2>
          <p>If you delete the account you will need to register again.<p>
          <%= link_to "Withdraw", user_path(@user.id), method: :delete, class: "btn btn-lg btn-danger", data: { confirm: 'really delete?' } %>
        <div>
      </div>
    </div>
  </div>
</div>
