<div class="users-wrapper">
  <div class="container text-center">
    <h1>User list</h1>
    <% if @users.present? %>
      <% @users.each do |user| %>
        <ul class="user-single text-center">
          <li>
            <div class="img_wrap">
              <%= link_to user_path(user.id) do %>
                <% if user.image? %>
                  <p>
                    <%= image_tag user.image.url, class: 'profile-image',size: :'300x300' %>
                  </p>
                <% else %>
                  <p>
                    <%= image_tag '/assets/default-user.jpg', class: 'profile-image',size: :'300x300' %>
                  </p>
                <% end %>
              <% end %>
            </div>
            <p>
              <%= link_to(user.name, user_path(user.id)) %>
              <%= user.nationality %>
            </p>
            <div class = "sns-link">
              <ul class="profile-links">
                <% if user.twitter.present? %>
                  <li class="profile-link">
                    <%= link_to user.twitter, target: :_blank do %>
                      <i class="fab fa-twitter-square"></i>
                    <% end %>
                  </li>
                <% end %>
                <% if user.facebook.present? %>
                  <li class="profile-link">
                    <%= link_to user.facebook, target: :_blank do %>
                      <i class="fab fa-facebook-square"></i>
                    <% end %>
                  </li>
                <% end %>
                <% if user.instagram.present? %>
                  <li class="profile-link">
                    <%= link_to user.instagram, target: :_blank do %>
                      <i class="fab fa-instagram"></i>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </div>
            <% if current_user.admin? && !current_user?(user) %>
              | <%= link_to "delete", user, method: :delete, data: { confirm: "Relly Delete?" } %>
              <i class="fas fa-trash"></i>
            <% end %>
          </li>
        </ul>
      <% end %>
    <% else %>
      <h2> No user yet..</h2>
    <% end %>
  </div>
</div>
<div class='paginate'><%= paginate(@users) %></div>
</div>
