<div class="signup-wrapper">
  <div class="container text-center">
    <div class="signup-form">
        <%= form_with model: @user, url: signup_create_path, local: true do |form| %>
        <%= render 'shared/error_messages', model: form.object %>
          <h2 class="text-center">Sign up</h2>
          <div class="form-group">
            <%= form.label :name, 'Name', class: 'form-control' %>
            <%= form.text_field :name, placeholder: "Required", class: "form-control" %>
          </div>
          <div class="form-group">
            <%= form.label :email, 'E-mail', class: 'form-control' %>
            <%= form.text_field :email, placeholder: "Required", class: "form-control" %>
          </div>
          <div class="form-group">
            <%= form.label :nationality, 'Country', class: 'form-control' %>
            <%= form.text_field :nationality,  placeholder: "Required", class: "form-control" %>
          </div>
          <div class="form-group">
            <%= form.label :password, 'Password', class: 'form-control' %>
            <%= form.password_field :password, placeholder: "Required", class: "form-control" %>
          </div>
          <div class="form-group">
            <%= form.label :password_confirmation, 'Password(confirmation)', class: 'form-control' %>
            <%= form.password_field :password_confirmation, placeholder: "Required", class: "form-control" %>
          </div>
          
          <%= form.submit 'Register', class:'btn btn-register btn-block btn-success btn-lg' %>
        <% end %>
    </div>
  </div>Ï
</div>
