<div class="user-show-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4 text-center">
  
        <% if @user.image? %>
          <%= image_tag @user.image.url, class: 'profile-image' %>
        <% else %>
          <%= image_tag '/assets/default_user.jpg', class: 'profile-image' %>
        <% end %>
        <h2 class="text-center card-title">
          <%= @user.name %>/<%= (@user.nationality) %>
        </h2>
        
        <%= render '/users/stats', user: @user %>
        <%= link_to "Edit", edit_user_path, class:'btn btn-success btn-lg' %>
       

        <div class="profile-description">
          Centent Centent Centent Centent Centent Centent Centent Centent Centent Centent Centent Centent Centent Centent Centent Centent Centent Centent Centent Centent Centent Centent Centent Centent Centent Centent Centent Centent Centent Centent
        </div>

        <%= render 'users/follow', user: @user %>
 
      </div> 
    </div>
  </div>

  <% if @question %>
    <%= render '/questions/index', questions: @questions %>
  <% else %>
    <h2 class="text-center">No post yet..</h2>
  <% end %>

</div>