<div class="user-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4 text-center my-profile">
        <h1 class="text-center card-title">
        <%= @user.name %>/<%= (@user.nationality) %>
        </h1>
        <% if @user.image? %>
          <%= image_tag @user.image.url, class: 'profile-image' %>
        <% else %>
          <%= image_tag '/assets/default_user.jpg', class: 'profile-image' %>
        <% end %>
        <%= render '/users/stats', user: @user %>

        <% if current_user?(@user) %>
          <%= link_to "Edit your profile", edit_user_path, class:'btn btn-success btn-lg' %>
        <% else %>
          <%= render 'users/follow', user: @user %>
        <% end %>  
        
        <div class = "sns-link">
          <ul class="profile-links">
            <% if @user.twitter.present? %>
              <li class="profile-link">
                <%= link_to @user.twitter, target: :_blank do %>
                  <i class="fab fa-twitter-square"></i>
                <% end %>
              </li>
            <% end %>
            <% if @user.facebook.present? %>
              <li class="profile-link">
                <%= link_to @user.facebook, target: :_blank do %>
                  <i class="fab fa-facebook-square"></i>
                <% end %>
              </li>
            <% end %>
            <% if @user.instagram.present? %>
              <li class="profile-link">
                <%= link_to @user.instagram, target: :_blank do %>
                  <i class="fab fa-instagram"></i>
                <% end %>
              </li>
            <% end %>
            </ul>
        </div>
        <div class = "jp-point">
          <span class="flag-icon flag-icon-jp faa-tada animated "></span>
          <p class= "jp-sentence"> Japan Score </p>
          <p class= "jp-count">
          <%= @likes_count %>
          </p>
        </div>
      </div> 
    </div>
  </div>
  <div class= "own-quesetions text-center">
    <% if @user.questions.any? %>
      <h1 class ="card-title" >Your Questions (<%= @user.questions.count %>)</h1>
      <%= render 'questions/list' %>
    <% else %>
      <h2 class="text-center">No post yet..</h2>
    <% end %>
  </div>
</div>