<div class="top-video-wrapper text-center">

  <div class= "video-container">
    <%= video_tag("/videos/top-video.mp4", autoplay: :true, loop: :true, muted: :true, class: 'video-content') %>
    <div class="video-message">
      <h1 class="text-white top-text">ShitsumonWa?</h1>
      <h2 class="text-white">Let's solve questions about Japan.</h2>
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <%= link_to 'Sign up', signup_path, class: 'btn btn-block btn-success btn-lg' %>
        </div>
        <div class="col-md-offset-2 col-md-8">
          <%= link_to 'Log in', login_path , class: 'btn btn-block btn-success btn-lg' %>
        </div>
      </div>
    <div>
  </div>
</div>

<div class="top-content-wrapper text-center">

  <div class="top-content-about animated fadein fadeInUp">
  <span style="border-bottom: solid 4px #00FF00;">ShitsumonWa?</span> is a bulletin board service where foreigners interested in Japan can ask questions.</span>
  </div>

  <div class="about_title animated fadein fadeInUp">
    <span style="border-bottom: solid 2px #00FF00;">Let's make it your second home country!!</span>
  </div>

  <div class="content1">

    <div class="container animated fadein fadeInUp">  
      <div class="row"> 
        <div class="col-sm-6 about-area1">
          <p class="about-text1">Ask questions in all genres. If you are interested, let's post</p>
          <p class="about-text2">
          <span style="border-bottom: solid 1px #00FF00;"> See other people's questions </span>
          </p>
          <%= link_to "Shitsumon list", questions_path, class: 'btn btn-primary btn-lg' %>
        </div>
        <div class="col-sm-6 about-area2">
          <img src="/assets/toppage1.jpg" alt="japanese sake">
        </div>
      </div>
    </div>

    <div class="container animated fadein fadeInUp">  
      <div class="row">
        <div class="col-sm-6 about-area2">
          <img src="/assets/toppage2.jpg" alt="mt.fuji">
        </div>
        <div class="col-sm-6 about-text1">
          <p class="about-text1">This place for exchanging information about Japan</p>
          <p class="about-text2">This service that attracts Japanese lovers regardless of nationality. 
          You may get useful information from Japanese people.</p>
        </div>
      </div>
    </div>
  </div>
    
  <div class="content2">

      <div class="container animated fadein fadeInUp">  
        <div class="row"> 
          <div class="col-sm-6 about-area1">
            <p class="about-text1">It can also be a place to make friends.</p>
            <p class="about-text2">
              You can put an SNS (Twitter, Faebook, instagram) link on your profile.
              If there are people you care about, let's connect.
            </p>
          </div>
          <div class="col-sm-6 about-area2">
            <img src="/assets/toppage3.jpg" alt="manga">
          </div>
        </div>
      </div>
    

    <div class="container animated fadein fadeInUp">  
      <div class="row">
        <div class="col-sm-6 about-area2">
          <img src="/assets/toppage4.jpg" alt="chochin">
        </div>
        <div class="col-sm-6 about-area1">
          <p class="about-text1">All You have to do is register. Welcome to Shitsumonwa?</p>
          <p class="about-text2">
            <span style="border-bottom: solid 1px #00FF00;"> Registration is here </span>
          </p>
          <%= link_to 'Sign up', signup_path, class: 'btn btn-primary btn-lg' %>
        </div>
      </div>
    </div>
  </div>   

</div> 
