<div class="login-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4 login-container">

        <h1 class="text-center text-white">Log in</h1>
        <div class = "login-no accoumt">
        <p> Click here if you have not registered </p>
        <%= link_to 'Sign up',signup_path, class:'link_signup btn btn-primary' %>
        </div> 
        <%= form_with url:user_sessions_path, local: true do |form| %>
          <div class="form-group">
            <%= form.label :email, 'E-mail', class: 'form-control' %>
            <%= form.text_field :email, placeholder: "Required", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= form.label :password, 'Password', class: 'form-control' %>
            <%= form.password_field :password, placeholder: "Required", class: "form-control"%>
          </div>

          <div>
            <%= check_box_tag :remember, params[:remember], true %>
            <%= label_tag :remember %>
          </div>
          
          <%= form.submit "Log in", class:'btn-block btn-success btn-lg' %>
        <% end %>
        <div class = "reset-password">
          <p>Forgot Password?</p>
          <%= render 'forgot_password_form' %>
        </div>

        <%= link_to 'Login with Twitter', auth_at_provider_path(provider: :twitter) %>
        
      </div>
    </div>
  </div>
</div>






