<header class="navbar navbar-fixed-top ">
  <div class="container">

   
    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
  
      <%= link_to "Shitsumonwa?", root_path, id: "logo" %>  
    </div>

    <nav>
      <% if logged_in? %>
        <!-- ulタグ内に「id="navbar"」を追記、classに「navbar-collapse collapse」を追記 -->
        <ul id="navbar" class="nav navbar-nav navbar-right navbar-collapse collapse">
          <li class ="navbar-item">
            <%= link_to "My profile", root_path, class: "nav-link text-light"%>
          </li>
          <li class ="navbar-item">
            <%= link_to "Shitsumon list",questions_path, class: "nav-link text-light"%>
          </li>
          <li class ="navbar-item">
            <%= link_to "Log out", root_path, class: "nav-link text-light"%>
          </li>
        </ul>
      <% else %>
        <ul id="navbar" class="nav navbar-nav navbar-right navbar-collapse collapse">
          <li><%= link_to "Sign up", signup_path %></li>
          <li><%= link_to "Log in", login_path %></li>
        </ul>
      <% end %>

    </nav>
  </div>
</header>