<!DOCTYPE html>
<html>
  <head>
    <title>ShitsumonWa?</title>
    <%= render 'layouts/default' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <main>
      <%= render 'layouts/flash' %>
      <%= yield %>
    </main>
    <%= render 'layouts/footer' %>
    <script>
      $(function(){
        $(".alert").fadeOut(5000);
      });
      
      $(function(){
        $(".errors").fadeOut(5000);
      });
      
      $(function() {
        $('.animated').hide().slideDown(600);
      });
      
      $(window).scroll(function (){
      $('.fadein').each(function(){
          var elemPos = $(this).offset().top,
              scroll = $(window).scrollTop(),
              windowHeight = $(window).height();
            if (scroll > elemPos - windowHeight + 100){
                $(this).addClass('scrollin');
              }
          });
      });

      $(function(){
        $(".qestion-index").hide().fadeIn(3000);
      });
      
    </script>
  </body>
</html>
