<!DOCTYPE html>
<html>
  <head>
    <title>ShitsumonWa?</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <main>
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
      <% end %>
    
      <%= yield %>
      
    </main>
    <%= render 'layouts/footer' %>

    <script>
    $(function(){
      $(".alert").fadeOut(5000);
    });
    </script>
      
    
  </body>
</html>
