<!DOCTYPE html>
<html>
  <head>
    <title>ShitsumonWa?</title>
    <%= render 'layouts/dafault' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <main>
    <%= render 'layouts/flash' %>
      <%= yield %>  
    </main>
    <%= render 'layouts/footer' %>

    <script>
    $(function(){
      $(".alert").fadeOut(5000);
    });
    </script>
      
    
  </body>
</html>
